body{
	margin:0px;

}
.container{
	padding: 20px;
	background-color: red;


}
.title{
	font-size: 22px;
	font-weight: 900;
	color: white;

}
h5{
	display: inline-block;
	background-color: green;
	width: 30%;
	height: 200px;
	margin-left: 20px;
}
p{
	background-color: yellow;
	width: 30%;
	height: 200px;
	margin-left: 20px;
}

a{
	display: inline-block;
	background-color: blue;
	width: 30%;
	height: 200px;
	margin-left: 20px;

}