body{
	margin:0px;

}
.container{
	padding: 20px;
	background-color: red;
	margin: 20px


}
.title{
	font-size: 22px;
	font-weight: 900;
	color: white;

}
h5{
	display: inline-block;
	background-color: orange;
	width: 30%;
	height: 200px;
	margin-left: 20px;
}
.header1{	
	display: inline-block;
	background-color: violet;
	width: 30%;
	height: 200px;


}
.header2{	
	display: inline-block;
	background-color: coral;
	width: 30%;
	height: 200px;
}
p{
	display:inline-block;
	background-color:tan;
	width: 30%;
	height: 200px;
	margin-left:20px;
}

h4{
	display: inline-block;
	background-color: lightblue;
	width: 30%;
	height: 200px;



}
.header3{
	display: inline-block;
	background-color:gold;
	width: 30%;
	height: 200px;

}